@font-face {
    font-family: TenbyFive;
    src: url("../fonts/tenby-five.otf") format("opentype");
}
body {
  background: black;
  font-family: TenbyFive;
  color: white;
}
.nospace {
  display:flex;
}
#user-float {
  position: absolute;
  font-family: TenbyFive;
  font-size: 18pt;
  right:0.2pt;
  top:0.2pt;
}
.rainbow {
  animation: rainbow 38s infinite;
}

@keyframes rainbow {
  0% {color: #d65c97;}
  5% {color: #5cd666;}
  10% {color: #a55cd6;}
  15.0% {color: #5c7cd6;}
  20% {color: #d65c7a;}
  25% {color: #81d65c;}
  30.0% {color: #835cd6;}
  35% {color: #685cd6;}
  40% {color: #5c9dd6;}
  45% {color: #5cd670;}
  50% {color: #d6625c;}
  55.0% {color: #d6835c;}
  60.0% {color: #d6605c;}
  65% {color: #be5cd6;}
  70% {color: #5c8dd6;}
  75% {color: #95d65c;}
  80% {color: #d69d5c;}
  85.0% {color: #d65c81;}
  90% {color: #5cd666;}
  95% {color: #d67e5c;}
  100% {color: #64d65c;}
}
