@font-face {
    font-family: TenbyFive;
    src: url("../fonts/tenby-five.otf") format("opentype");
}
body {
  background: #23272A;
  font-family: TenbyFive;
  color: white;
  overflow-x: hidden;
  -webkit-user-select: none;
}
#server-list {
  position: fixed;
  font-size: smaller;
  top: 0;
  right: 0;
  background: #2C2F33;
  height: 100vh;
  overflow-y: scroll;
  width: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}
#server-list.active {
  width: 280px;
  padding: 1rem;
}
#user-float {
  position: fixed;
  font-family: TenbyFive;
  font-size: 1.7rem;
  right: .25rem;
  top: 0;
  transition: all 1s ease-in-out;
}
#user-float.active {
  right: 285px;
}
#bot {
  background-color: #7289DA;
  color: white;
  font-size: smaller;
  border-radius: 3px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: .2rem;
}
.btn-outline-warning {
  width: 100%;
  margin-bottom: 1rem;
}
.btn-danger {
  float: right;
  opacity: 0!important;
  transition: all 1s ease-in-out;
}
.btn-danger.active {
  opacity: 1!important;
}
#msg-list {
  margin-bottom: 3rem;
  margin-right: 280px;
}
#typing-list {
  border-top: 1px dotted grey;
  padding-top: 1rem;
  padding-bottom: .6rem;
  padding-left: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color:#23272A;
}
#connection {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .4rem;
  transition: all 1s ease-in-out;
}
#connection.active {
  bottom: -10%;
}
button {
  font-size: 1.09rem;
  padding: 0;
}
#username, #discriminator, #guild {
  color: crimson;
}
#msg-list div {
  color: lightcoral;
}
#message {
  color: white;
}
.highlight {
  color: lightskyblue!important;
}
.private {
  color: palegreen!important;
}
.rainbow {
  animation-name: rainbow;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes rainbow {
  0%{color:#5c66d6}
  5%{color:#765cd6}
  10%{color:#8bd65c}
  15%{color:#d65cc8}
  20%{color:#d65cc2}
  25%{color:#d65c7e}
  30%{color:#cad65c}
  35%{color:#5c7ed6}
  40%{color:#9fd65c}
  45%{color:#68d65c}
  50%{color:#c25cd6}
  55%{color:#5cd678}
  60%{color:#5cd69b}
  65%{color:#d2d65c}
  70%{color:#5cd69f}
  75%{color:#d6605c}
  80%{color:#5cbed6}
  85%{color:#d6bc5c}
  90%{color:#975cd6}
  95%{color:#5cd6b6}
  100%{color:#d65cba}
}
